/* Game Dashboard Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*????*/
    text-decoration: none;
    border: none;
    outline: none;/*????*/
    scroll-behavior: smooth;/*????*/
    font-family: "poppins";
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #DC5F00;
}

main{
    background-color: #414346;
    color: var(--text-color);
    padding-bottom: 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.game {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/img1.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem 0.6rem;
}


.left,
.middle,
.right {
    flex-grow: 1;
} 

.left {
    flex-basis: 7%;
}

.middle {
    flex-basis: 86%
}

.right{
    flex-basis: 7%;
}



/********************** left **********************/
.left {
    height: 97%;
    background: #3b3640;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0;
    background: rgba(112, 97, 97, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 1rem;
}

.left-top{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.logo{
    font-weight: 800;
    transition: 0.3s ease;
    color: var(--text-color);
    font-size: 18px;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px var(--main-color) ;
}

span{
    color: var(--main-color);
}

.left .dash-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.left .dash-icons i{
    font-size: 23px;
    padding: 10px;
    border-radius: 50%;
}

.left .dash-icons i:hover{
    background-color: white;
    color: black;
}

/* #chat{
    border: 1px solid white;
    padding: 4px 10px;
    background-color: var(--text-color);
    color: #3b3640;
    border-radius: 50%;
} */

.dash-icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

.user {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.5rem;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
                0 0 20px rgba(255, 255, 255, 0.1),
                0 0 30px rgba(255, 255, 255, 0.1),
                0 0 40px rgba(255, 255, 255, 0.1);
}

.user img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.user img:hover {
    transform: scale(1.05);
}

.user h4 {
    font-size: 18px;
    color: var(--text-color);
    /* font-weight: 200; */
}


.logout i{
    font-size: 23px;
    color: var(--text-color);
}


/********************** middle **********************/
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    padding: 3.6rem 5rem 2rem 5rem;
    border-top-right-radius: 2rem;
}

.header{
   display: none;
}

.user-div h1{
    font-size: 25px;
    font-weight: 300;
}

#user-name{
    font-weight: 400;
    font-size: 25px;
    color: white;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0.8rem 1rem;
    border-radius: 30px;
    width: 350px;
    background: #3b3640;
}

.input {
    width: 100%;
    background: transparent;
    border: none;
    color: var(--text-color);
    margin-right: 0.5rem;
}

.input::placeholder {
    color: var(--text-color);
}

.search-icon {
    color: var(--text-color);
}

.notfication {
    position: relative;
    /* border: 1px solid var(--text-color); */
    padding: 10px 14px;
    border-radius: 50%;
    background: #3b3640;
    color: white;
}

.notfication::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 4px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.notfication i{
   font-size: 17px;
}

.light-dark-not{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.light-dark{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #3b3640;
    border-radius: 20px;
}


#dark{
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: 6px 10px;
    color: black;
    background-color: var(--text-color);
}

#light{
    color: var(--text-color);
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 20px;
}

.spa {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0rem 4rem;
   
}

.profile-body{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    background-color: #3b3640;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./images/back.gif');
    background-size: cover;
    background-position: center;
    background: rgba(112, 97, 97, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);


}

.pr-up{
    flex-basis: 65%;
    /* border: 1px solid; */
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

}


.uer-pr-image {
    position: absolute;
    top: -25%;
    left: 10%;
    /* transform: translate(-300%, -50%); */
    /* width: calc(100% - 20px); */
    width: 180px;
    height: 180px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
}

.uer-pr-image img{
    width: 100%;
    border-radius: 50%;
}

.pr-down{
    flex-basis: 35%;
    display: flex;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background: rgba(156, 143, 143, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: relative;

}

.void{
    flex-basis: 30%;
    width: 100%;
}


.user-pr-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

    padding: 2rem 7rem;
}

.user-pr-login h1{
    font-size: 30px;
}
.user-pr-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.user-pr-image img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}


.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;

}

.rank-container{
    display: flex;
    gap: 2rem;

}
.rank-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-info h1{
    font-size: 22px;
    font-weight: 200;

}

.level-bar {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.level-fill {
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 15px 0 0 15px;
    transition: width 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
}

.level-text {
    position: relative;
    color: #fff;
    font-weight: 800;
    z-index: 1;
}

.game-status{
    display: flex;
    width: 100%;
    flex-basis: 50%;
    justify-content: space-between;

}

.game-container{
    flex-basis: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    background-color: #3b3640;
    background: rgba(112, 97, 97, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.fr-btn {
    display: flex;
    gap: 1rem;
}

.fr-btn button{
    padding: 10px 20px;
    border-radius: 1rem;
    font-weight: 400;
    background-color: #565557;
    color: var(--text-color);
    border: 2px solid var(--main-color);
}






/*************************** right ************************/
.right {
    height: 97%;
    background: #3b3640;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    background: rgba(112, 97, 97, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 1rem;
}

.fr-img {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 60px; */
	/* width: 60px; */
    position: relative;
}

.right .online_icon {
	position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    bottom: 2px;
    right: 2px;
    border: 2px solid white;
}

.fr-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.right i{
    color: var(--text-color);
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 0 0 10px rgba(0, 255, 255, 0.5),
                 0 0 20px rgba(0, 255, 255, 0.5),
                 0 0 30px rgba(0, 255, 255, 0.5);
    margin-bottom: 2rem;
}

.right h1{
    color: var(--text-color);
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 
                 0 0 10px rgba(0, 255, 255, 0.5),
                 0 0 20px rgba(0, 255, 255, 0.5),
                 0 0 30px rgba(0, 255, 255, 0.5);
    margin-bottom: 2rem;
}